<div class="main-description">
  <h1 class="clr-violet">WE PROVIDE</h1>
  <h1>ACTION-PROVOKING</h1>
  <h3>TO HELP YOU GROW AUDIENCE</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi non nesciunt voluptates quia laudantium reiciendis. Qui voluptatem eum aspernatur earum blanditiis eligendi consequatur nihil est at architecto, delectus unde aliquid? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae asperiores magni nulla odio blanditiis itaque, libero rem dignissimos quo reiciendis animi facere molestiae! Suscipit, fugiat. Perspiciatis delectus facere dolores rem.</p>

  <div class="description-actions">
    <button class="bg-violet">Free Proposal</button>
    <button>Chat Now</button>
  </div>
</div>
