<div class="items-description">
  <img [src]="salyImgUrl" alt="saly img">
  <div class="items-container">
    <div>
      <i class="fa-solid fa-circle-check"></i>
      <p>Field specific Writters</p>
    </div>
    <div>
      <i class="fa-solid fa-circle-check"></i>
      <p>Money back guarentee</p>
    </div>
    <div>
      <i class="fa-solid fa-circle-check"></i>
      <p>Flexible Revision Policy</p>
    </div>
    <div>
      <i class="fa-solid fa-circle-check"></i>
      <p>24/24 customer policy</p>
    </div>
    <div>
      <i class="fa-solid fa-circle-check"></i>
      <p>24/24 customer policy</p>
    </div>
    <div>
      <i class="fa-solid fa-circle-check"></i>
      <p>24/24 customer policy</p>
    </div>
  </div>
</div>

