@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #141625;
  padding: 2em;
}


.landing-container{
  padding: 0 1.5em;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.bg-violet{
  background-color: #7b5df9 !important;
}

.clr-violet{
  color: #7b5df9 !important;
}


app-main-description{
  grid-column: 1/ 6;
}

app-items-description{
  grid-column: 6/ 13;
}
